urxvt*font: xft:source\ code\ pro\ medium:pixelsize=20:antialias=true:hinting=true,xft:source\ code\ pro\ medium:pixelsize=20:antialias=true:hinting=true
URxvt.scrollBar: false
URxvt.cursorBlink: 0
URxvt.cursorUnderline: 0
!URxvt.internalBorder: 0 !What?

URxvt.depth: 32
!URxvt*background: #1b1b1b
URxvt*foreground:  #cccaca
URxvt*background: rgba:1100/1100/1100/AA00
URXvt*blurRadius: 20
!URxvt*fading: 20
URxvt*transparency: true

! Black + DarkGrey
URxvt*color0:  #282828
URxvt*color8:  #928374
! DarkRed + Red
URxvt*color1:  #cc241d
URxvt*color9:  #fb4934
! DarkGreen + Green
URxvt*color2:  #98971a
URxvt*color10: #b8bb26
! DarkYellow + Yellow
URxvt*color3:  #d79921
URxvt*color11: #fabd2f
! DarkBlue + Blue
URxvt*color4:  #458588
URxvt*color12: #83a598
! DarkMagenta + Magenta
URxvt*color5:  #b16286
URxvt*color13: #d3869b
! DarkCyan + Cyan
URxvt*color6:  #689d6a
URxvt*color14: #8ec07c
! LightGrey + White
URxvt*color7:  #a89984
URxvt*color15: #ebdbb2

/* Needs to be disabled for C-S keybindings to work */
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

!OsX font rendering
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.lcdfilter: lcddefault

!Rofi
rofi.lines: 5
rofi.eh: 2
rofi.padding: 200
rofi.fullscreen: false
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true

!                  'background', 'border', 'separator'
rofi.color-window: argb:752d303b, #7c8389, #1d1f21
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:031d1f21, #f3f4f5, argb:031d1f21, argb:031d1f21, #9575cd 
rofi.color-urgent: argb:031d1f21, #f3f4f5, argb:bc303541, argb:031d1f21, #9575cd
rofi.color-active: argb:031d1f21, #f3f4f5, argb:031d1f21, argb:031d1f21, #9575cd 
rofi.font: System San Francisco Display 18

